.go-hero {
	@include make-md-column(12);
	background: url('../../images/hero/header.jpg') no-repeat center center;
	background-size: cover;
	height: 100vh;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,$color-1,$color-1);
		opacity: .9; 
	}

	.hero-content {
		@include make-md-column(10);
		@include make-md-column-offset(1);
		position: relative;
		text-align: center;
		width: 100%;
		color: #fff;
		top: 50%;
		transform: translateY(-50%); 

		.item-title {
			font: 32px $sub-font;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		.item-content {
			font-weight: 300;
    		line-height: 30px;
    		font-size: 15px;
    		margin-bottom: 20px;
		}

		.item-arrow {
			margin-top: 50px;
		}
	}
}

.item-animation {
		@include make-md-column(12);
		margin-top: 50px;
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		z-index: 999;

		a {
			color: #fff;
		}
	}